.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: -25px;
}

.input {
    padding: 1rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    max-width: 638px;
    width: 100%;
    color: var(--gray-100);
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border: 1px solid var(--blue);
}
.input::placeholder {
    color: var(--gray-300);
}

.button {
    background-color: var(--blue-dark);
    color: var(--gray-100);
    padding: 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--blue);
}