body {
  background: var(--gray-600);
  color: var(--gray-100);
  font-family: 'Inter', sans-serif;
  line-height: var(--line-height);
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  max-width: 736px;
  width: 100%;
}